:root{
    --primary-color:#e50914;
    --dark-color:#141414;
    --light-color:#f4f4f4;
}
*{  padding:0;
    margin:0;
    font-family:'poppins',Arial, Helvetica, sans-serif;
    border:border-box;
}
body{
    background:#000;
    color: #fff;
}
h1,h2,h3,h4{
    color:#ffffff;
}
.page-1{
    width:100%;
    height:800px;
    position:relative;
    background-image: url("Background.jpg");
    background-size: no-repeat center center/cover;
    border-bottom:5px rgba(69,69,69) solid;
    box-shadow: 120px 200px 250px #000000,inset -120px -200px 250px #000000;
}
.page-1::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.45);
    /* box-shadow: 120px 200px 250px #000000,inset -120px -200px 250px #000000; */
}
.topPanel{
    position: relative;
    z-index: 2;
    height:90px;
}
.topPanel img{
    width:140px;
    height:auto;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(40%,-50%)
}
.topPanel a{
    position:absolute;
    top:50%;
    right:0;
    transform:translate(-60%,-50%);
}
.page1-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}
.page1-content h1{
    display: flex;
    color:white;
    font-weight: 830;
    font-size: 55px;
    margin: 0 30px;
    max-width:auto;
    line-height: 74.5px;
}
.page1-content h3{
    color: white;
    font-size: 40px;
    margin:16px 0;
} 
#p1{
    font-size: 23px;
    font-weight:300;
    padding-top:0.9rem;
    padding-bottom:0.9rem;
}
#p2{
    font-size: 23px;
    font-weight:300;
    padding-bottom:0px;
}
.page-1 input{
    position:absolute;
    left:0;
    bottom:-8vh;
    width: 454px;
    height: 1.6rem;
    font-size:1rem;
    padding:14px 16px 8px;
    border-radius: 4px;
} 
.page-1 input:hover{border:2.3px solid rgb(115, 3, 3)
}
.btn{
    display:inline-block;
    background-color: var(--primary-color);
    color:white;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border:none;
    cursor:pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    outline:none;
    box-shadow: 0 5px 3px rgba(0,0,0,0.45);
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover{
    opacity:0.8;
}
.page1-content .btn-lg{
    position: relative;
    /* right: 0; */
    bottom:-8vh;
    padding:0.46rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 36px;
    width: 14rem;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left:520px;
}
.card-1,.card-2,.card-3,.card-4{
    border:5px rgba(69,69,69) solid;
    padding: 50px;
    border-left: 0px;
    border-right: 0px;
}
.card-1{
    height: 650px;
    width: 94%;
    position: relative;
    display:inline-grid;
    grid-template-columns:40% 50%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
    box-shadow: none;
}
.desc-1{
    padding-left: 100px;
}
.card-2{
    height: 650px;
    width: 94%;
    position: relative;
    display:inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
}
.desc-2{
    padding-left: 80px;    
}
.cards h1{
    font-size:3.2rem;
    font-weight:1000;
    padding: 1rem;
    padding-left: 0;
}
.cards p{
    font-size:25px;
    line-height: 2rem;
}
.card-2 video{
    position: relative;
    width: 80%;
    height: 56%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    padding-left: 85px;
}
.card-2 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.card-3{
    height: 650px;
    width: 94%;
    position: relative;
    display:inline-grid;
    grid-template-columns:40% 50%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
}
.desc-3{
    padding-left: 100px;
}
.card-4{
    height: 650px;
    width: 94%;
    position: relative;
    display:inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
}
.desc-4{
    padding-left: 100px;
    /* padding-right:20px; */
}
.card-4 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}
.card-4 video{
    position: relative;
    bottom:480px;
    left:800px;
    width:65%;
    height:78%;
    grid-column: 2/2;
    grid-column: 1/2;
    z-index: -1;
}
.faq{
    text-align: center;
    border-top:5px rgba(69,69,69) solid;
    border-bottom:5px rgba(69,69,69) solid;
}

.faq h1{
    padding-bottom: 40px;
    font-size: 3rem;
}
.questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}
.questions li{
    padding: 20px 30px;
    margin:5px;
    font-size: 1.6rem;
    background-color: rgba(69, 69, 69, 0.777);
    margin: 6px;
    color: #ffffff;
    text-align: left;
    width: 70%;
    list-style-type: none;
}
.faq h1{
    padding-top: 60px;
    /* font-size: 1.2rem;*/
    font-weight: 900; 
}
.input{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
}
.input input{
     width: 600px;
    height: 3rem;
} 
.faq p{
    font-size: 20px;
    padding-bottom:25px;
    padding-top: 30px;
}
.input input{
    position:relative;
    bottom:20px;
    width: 350px;
    height: 1.6rem;
    font-size:1.2rem;
    padding:12px 14px 7px;
    border-radius: 4px;
    margin:20px;
} 
.input input:hover{border:2.3px solid rgb(115, 3, 3)
}
.btn-rounded{
    position:relative;
    top:-23.6px;
    left: 66px;
    height: 27.3px;
    text-align: center;
    font-size: 18px;
    font-weight:500;
    padding: 0.5rem 1.1rem;
    margin-left:40px;
}
.panel-1{
    padding-left: 120px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.panel-2{
display: flex;
justify-content:space-evenly;
height: 200px;
}
ul a{
    display: block;
    font-size: 17px;
    color: #dddddd;
    padding: 12px;
    text-decoration: none;
    font-weight: 530;
}    
ul a:hover{
    text-decoration: underline;
}
footer{
    border-top:5px rgba(69,69,69) solid;
}
footer p{
    text-align: center;
    margin-bottom: 20px;
}
